SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
CHARTMETRIC_REFRESH_TOKEN=
AUDIO_TAGGING_API_URL=http://host.docker.internal:8001
ALLOWED_ORIGINS=https://louddevs.github.io,http://localhost:3000,http://localhost:3001
